In [43]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [28]:
#create an empty list to collect all reviews 
reviews = []

#create an empty list to collect all rating stars
stars = []

#create an empty list to collect date
date = []

#create an empty list to collect country the reviews is from
country = []

In [45]:
for i in range(1, 36):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortyby=post_data%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content,"lxml")
    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
    
    for item in soup.find_all("div", class_="rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print (f"Error on page {i}")
            stars.append("None")
            
    #date
    for item in soup.find_all("time"):
        date.append(item.text)
        
    #country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 31
Error on page 32
Error on page 32
Error on page 35
Error on page 35

In [46]:
#check the length of total reviews extracted
len(reviews)

3500

In [47]:
len(country)

3500

In [50]:
#check the length 
stars = stars[:3500]

In [51]:
#create  a dataframe from these collected lists of data

df = pd.DataFrame({"reviews":reviews,"stars": stars, "date":date, "country": country})

In [52]:
df.head()

,reviews,stars,date,country
0,Not Verified | BA is not treating its premium ...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,6th July 2023,United Kingdom
1,✅ Trip Verified | 24 hours before our departu...,4,5th July 2023,South Africa
2,✅ Trip Verified | We arrived at Heathrow at 0...,1,5th July 2023,United Kingdom
3,✅ Trip Verified | Original flight was cancell...,1,4th July 2023,Greece
4,Not Verified | Airport check in was functiona...,3,3rd July 2023,Italy

In [53]:
df.shape

(3500, 4)

In [54]:
import os

cwd = os.getcwd()

df.to_csv(cwd+ "/BritAir_reviews.csv")

In [55]:
df.head()

,reviews,stars,date,country
0,Not Verified | BA is not treating its premium ...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,6th July 2023,United Kingdom
1,✅ Trip Verified | 24 hours before our departu...,4,5th July 2023,South Africa
2,✅ Trip Verified | We arrived at Heathrow at 0...,1,5th July 2023,United Kingdom
3,✅ Trip Verified | Original flight was cancell...,1,4th July 2023,Greece
4,Not Verified | Airport check in was functiona...,3,3rd July 2023,Italy

In [56]:
df['verified'] = df.reviews.str.contains("Trip Verified")

In [57]:
df['verified']

0       False
1        True
2        True
3        True
4       False
        ...
3495    False
3496    False
3497    False
3498    False
3499    False
Name: verified, Length: 3500, dtype: bool

## Cleaning the reviews

In [58]:
df.dtypes

reviews     object
stars       object
date        object
country     object
verified      bool
dtype: object